<!doctype html>
<html>
    <head>
        <title>Jason Chen</title>
        <link rel="stylesheet" type="text/css" href="index.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="./resources/typed.js/js/typed.js"></script>
    </head>
    <script>
        var firstImpressions = angular.module('firstImpressions', []);

        firstImpressions.controller('ctrl', function($scope){
                $scope.chosen = "";
                $scope.selected = [false, false, false, false, false, false, false, false, false];
                $scope.letters = ["J", "A", "S", "O", "N", "C", "H", "E", "N"];
                $scope.appendToChosen = function(letter, pos) {
                    if (letter === "-") {
                        $scope.chosen = "";
                        $scope.selected = [false, false, false, false, false, false, false, false, false];
                    }
                    else {
                        $scope.chosen += letter;
                        $scope.selected[pos] = true;
                    }
                    console.log($scope.chosen);
                    if ($scope.chosen === "CHAOS") {
                        document.location.href = "jsonchen.html";
                    }
                };
        });

    </script>
    <body ng-app="firstImpressions" ng-controller="ctrl">

        <div id="root" ng-click='appendToChosen("-")'>
            <!-- <img src="images/mountain.jpg" style='width:100%;height:100%;position:absolute;' alt="" /> -->

            <div id="grid">
                <div ng-repeat="letter in letters track by $index"
                ng-style="selected[{{$index}}] ? {'color':'#692845', 'font-weight':'bold'} : {'color':'black'}"
                ng-click='appendToChosen(letter, $index); $event.stopPropagation();' class="grid-element">
                    <span>{{letter}}</span>
                </div>
            </div>
        </div>
        <span> THIS IS THE PROMPT? </span>

        <script>
        //   $(function(){
        //       $(".grid-element").typed({
        //         strings: ["First sentence.", "Second sentence."],
        //         typeSpeed: 1
        //       });
        //   });
        </script>
    </body>
</html>
<!-- <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div style="width: 50px">
            <div class="hovereffect">
                <img class="img-responsive" src="http://placehold.it/350x200" alt="">
                <div class="overlay">
                    <h2>Hover effect 6</h2>
                    <div class="rotate">
                        <p class="group1">
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </p>
                            <hr>
                            <hr>
                        <p class="group2">
                            <a href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-dribbble"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html> -->
