<!doctype html>
<html>
    <head>
        <title>Jason Chen</title>
        <link rel="stylesheet" type="text/css" href="index.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="./resources/typed.js/js/typed.js"></script>
    </head>
    <script>
        var firstImpressions = angular.module('firstImpressions', []);

        firstImpressions.controller('ctrl', function($scope){
                $scope.chosen = "";
                $scope.selected = [false, false, false, false, false, false, false, false, false];
                $scope.letters = ["J", "A", "S", "O", "N", "C", "H", "E", "N"];
                $scope.appendToChosen = function(letter, pos) {
                    if (letter === "-") {
                        $scope.chosen = "";
                        $scope.selected = [false, false, false, false, false, false, false, false, false];
                    }
                    else {
                        $scope.chosen += letter;
                        $scope.selected[pos] = true;
                    }
                    console.log($scope.chosen);
                    if ($scope.chosen === "CHAOS") {
                        document.location.href = "jsonchen.html";
                    }
                };
        });

//ng-style='selected[0] ? {color:red} : {color:green}'

// ng-style="selected[{{$index}}] ? {'color':'red'} : {'color':'black'}" ng-click='appendToChosen("J", $index); $event.stopPropagation();
    </script>
    <body ng-app="firstImpressions" ng-controller="ctrl">

        <div id="root" ng-click='appendToChosen("-")'>
            <img src="images/mountain.jpg" style='width:100%;height:100%;position:absolute' alt="" />

            <div id="grid">
                <div ng-repeat="letter in letters track by $index"
                ng-style="selected[{{$index}}] ? {'color':'#692845'} : {'color':'black'}"
                ng-click='appendToChosen(letter, $index); $event.stopPropagation();' class="grid-element">
                    <span>{{letter}}</span>
                </div>

                <!-- <div class="grid-element" ng-style="selected[0] ? {'color':'red'} : {'color':'black'}" ng-click='appendToChosen("J", 0); $event.stopPropagation();'>
                    <span>J</span>
                </div>

                <div class="grid-element" ng-click='appendToChosen("A", 1); $event.stopPropagation();'>
                    <span>A</span>
                </div>

                <div class="grid-element" ng-click='appendToChosen("S", 2); $event.stopPropagation();'>
                    <span>S</span>
                </div>

                <div class="grid-element" ng-click='appendToChosen("O", 3); $event.stopPropagation();'>
                    <span>O</span>
                </div>

                <div class="grid-element" ng-click='appendToChosen("N", 4); $event.stopPropagation();'>
                    <span>N</span>
                </div>

                <div class="grid-element" ng-click='appendToChosen("C", 5); $event.stopPropagation();'>
                    <span>C</span>
                </div>

                <div class="grid-element" ng-click='appendToChosen("H", 6); $event.stopPropagation();'>
                    <span>H</span>
                </div>

                <div class="grid-element" ng-click='appendToChosen("E", 7); $event.stopPropagation();'>
                    <span>E</span>
                </div>

                <div class="grid-element" ng-click='appendToChosen("N", 8); $event.stopPropagation();'>
                    <span>N</span>
                </div> -->
            </div>
        </div>


        <!-- <ul>
            <li>Jason chen, <a href="jsonchen.html">go home</a></li>
        </ul> -->
        <script>
            // var app = angular.module('login', []);
            // app.controller('testCtrl', function($scope) {
            //     $scope.chosen = [];
            //     $scope.appendToChosen(letter) {
            //         $scope.chosen.push(letter);
            //         console.log($scope.chosen);
            //     }
            // });
        </script>

        <script>
        //   $(function(){
        //       $(".grid-element").typed({
        //         strings: ["First sentence.", "Second sentence."],
        //         typeSpeed: 1
        //       });
        //   });
        </script>
    </body>
</html>
