<span id="root">
<div id="nav">
     <ul>
         <li><a ng-click='smoothScrollTo("contact")'>contact</a></li>
         <li><a ng-click='smoothScrollTo("portfolio")'>portfolio</a></li>
         <li><a ng-click='smoothScrollTo("aboutjson")'>about json</a></li>
         <li><a ng-click='smoothScrollTo("aboutme")'>about me</a></li>
     </ul>
</div>

<div id="aboutme">
    <div style="height:50px"></div>
    <span style="font-size:16px;">
        Hello!
        I was looking around for inspiration about a good about me design, and EVERYONE has nice portraits.
        I like nice portraits, but if we become friends, which I hope we do (check out coffee with jason!),
        you'll find that I also like
        doing things that a different from the rest. So I've decided that I'm going to give my best shot at
        drawing myself, and every once in a while I'll keep updating the drawing until one day you might be
        able to discern what I look like. INCLUDE THE VERSION NUMBER. (v 1.0)

        I'm your regular kid who's tried to make a website for the last -5- years, and every year I think I can
        do it and it always turns out like this: link to something

        I have a passion for computer science, making ideas into working things, and most of all people. I love languages
        and will never stop learning them. Sign language. Dream job be able to connect with helping immigration and
        help other people have what i have been able to have.

        I feel like a lot of those descriptions are like coffee or wine: "I am a web designer with bold streaks of
        dark chocolate and hints of citrus." Like you can't be those things.
    </span>
</div>

<div id="aboutjson">
    <span style="font-size:10vh;">
        <span class="underline">J</span>ava<span class="underline">S</span>cript
        <span class="underline">O</span>bject <span class="underline">N</span>otation
    </span>
    <span style="font-size:16px;">
        <br/>"...is an open-standard format that uses human-readable text to transmit data objects consisting of attribute–value pairs" - Wikipedia
    <span/>
    <!-- What? Yeah I know it's jibber jabber to me.

    Let's break it down.

    JavaScript is just a programming language, and to those who are unfamiliar with programming, a programming language is just like any other language you and i speak, except that they are really strict about the grammar. Imagine talking to the Grammar police who will arrest you for any little mistake.

    Objects! These are cool! Objects can be anything, and as long as you have a thing, give it a name (we call it attribute) value, and you have an object! That's what's so great is that they are flexible and lightweight.

    There you are! Now you too are a JSON expert.

    You can make your great grandma's favorite pie recipe a json.
    {flour: 2 grams
    directions: [
    mix the flour,

    ]
    }

    give example of things stored in json format. weather data.
    user profiles


    Make this instructional? -->
        <div id="jsonContent">la dee da da </div>
        <span ui-ace="{useWrapMode: false, showGutter: true, theme:'twilight', advanced: {fontSize:'16px'}}"></span>
</div>

<div id="portfolio">
    <span style="font-size:10vh;">
        Portfolio page content goes here.
        <span style="font-size:16px;">
        </span>
    </span></div>

<div id="contact">
    <span style="font-size:10vh;">
        Contact page content goes here.
        <span style="font-size:16px;">
        </span>
    </span>
    <div style="width:300px;">
        <div class="hovereffect">
            <img class="img-responsive" src="http://placehold.it/350x200" alt="">
            <div class="overlay">
                <h2>Hover effect 6</h2>
                <div class="rotate">
                    <p class="group1">
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </p>
                        <hr>
                        <hr>
                    <p class="group2">
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-dribbble"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="bottomExtra">
</div>

<span/>
