#singlepage {
    font-family: 'Lato', sans-serif;
}

#nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #FFFFFF; opacity: 0.5; filter: alpha(opacity=50);
    top: 0px;
    border-radius: 2px;
    border: 1px #797979 solid;
    z-index: 10;
}

#singlepage a:hover {
    background-color: #FFFFFF; opacity: 0.8; filter: alpha(opacity=80);;
    font-weight: bold;
}

#singlepage ul{
    list-style-type: none;
    padding: 0;
    width: 100%;
}

#singlepage li {
    float: right;
    margin: -3px 15px 0px 5px;
}

#aboutme {
    height: 100vh;

    background: #F39C12; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F39C12, #1ABC9C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F39C12, #1ABC9C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F39C12, #1ABC9C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F39C12, #1ABC9C); /* Standard syntax */
}

#aboutjson {
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

    background: #1ABC9C; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1ABC9C, #AF7AC4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1ABC9C, #AF7AC4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1ABC9C, #AF7AC4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1ABC9C, #AF7AC4); /* Standard syntax */
}

#portfolio {
    height: 100vh;

    background: #AF7AC4; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#AF7AC4, #3498DB); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#AF7AC4, #3498DB); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#AF7AC4, #3498DB); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#AF7AC4, #3498DB); /* Standard syntax */
}

#contact {
    height: 100vh;

    background: #3498DB; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#3498DB, #E74C3C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3498DB, #E74C3C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3498DB, #E74C3C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3498DB, #E74C3C); /* Standard syntax */
}

#bottomExtra {
    height: 1000vh;

    background: #E74C3C; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#E74C3C, #F39C12); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#E74C3C, #F39C12); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#E74C3C, #F39C12); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#E74C3C, #F39C12); /* Standard syntax */
}

#jsonContent {
    float: left;
    margin-top: 5vh;
    width: 45vw;
}

.ace_editor {
    margin-top: 5vh;
    border-radius: 4px;
    height: 70vh;
    width: 45vw;
    float: right;
}

.ace_content {
    /*padding: 10px 10px 10px 10px;*/
}

.underline {
    text-decoration: underline;
    /*text-decoration-color: white;
    -webkit-text-decoration-color: white;
    -moz-text-decoration-color: white; /* Code for Firefox */*/
}

/* credits to mike young for the cool hover effects!
https://miketricking.github.io/dist/ */

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.7" /><feFuncG type="linear" slope="0.7" /><feFuncB type="linear" slope="0.7" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.7);
  -webkit-filter: brightness(0.7);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  width: 100%;
}

.hovereffect:hover h2 {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
  transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect .rotate {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 100%;
  height: 100%;
  position: absolute;
}

.hovereffect hr {
  width: 50%;
  opacity: 0;
  filter: alpha(opacity=0);
}

.hovereffect  hr:nth-child(2) {
  -webkit-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(0,0,1);
  transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(0,0,1);
}

.hovereffect  hr:nth-child(3) {
  -webkit-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(0,0,1);
  transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(0,0,1);
}

.hovereffect h2, .hovereffect hr {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px;
}

.group1, .group2 {
  left: 50%;
  position: absolute;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}

.group1 {
  top: 40%;
}

.group2 {
  top: 60%;
}

.hovereffect p {
  width: 30%;
  text-transform: none;
  font-size: 15px;
  line-height: 2;
}

.hovereffect p a {
  color: #fff;
}

.hovereffect p a:hover,
.hovereffect p a:focus {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.hovereffect  a i {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  padding: 10px;
  font-size: 20px;
}

.group1 a:first-child i {
  -webkit-transform: translate3d(-60px,-60px,0) rotate(45deg) scale(2);
  transform: translate3d(-60px,-60px,0) rotate(45deg) scale(2);
}

.group1 a:nth-child(2) i {
  -webkit-transform: translate3d(60px,-60px,0) rotate(45deg) scale(2);
  transform: translate3d(60px,-60px,0)  rotate(45deg) scale(2);
}

.group2 a:first-child i {
  -webkit-transform: translate3d(-60px,60px,0) rotate(45deg) scale(2);
  transform: translate3d(-60px,60px,0) rotate(45deg) scale(2);
}

.group2 a:nth-child(2) i {
  -webkit-transform: translate3d(60px,60px,0)  rotate(45deg) scale(2);
  transform: translate3d(60px,60px,0)  rotate(45deg) scale(2);
}

.hovereffect:hover hr:nth-child(2) {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(1,1,1);
  transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(1,1,1);
}

.hovereffect:hover hr:nth-child(3) {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(1,1,1);
  transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(1,1,1);
}

.hovereffect:hover .group1 i:empty, .hovereffect:hover .group2 i:empty {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0) rotate(45deg) scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
}
