<span id="root">
<div id="nav">
     <ul>
         <li><a ng-click='smoothScrollTo("contact")'>contact</a></li>
         <li><a ng-click='smoothScrollTo("portfolio")'>portfolio</a></li>
         <li><a ng-click='smoothScrollTo("aboutjson")'>about json</a></li>
         <li><a ng-click='smoothScrollTo("aboutme")'>about me</a></li>
     </ul>
</div>

<div id="aboutme">
    <div style="height:50px"></div>
    <span style="font-size:16px;">
        Hello!
        I was looking around for inspiration about a good about me design, and EVERYONE has nice portraits.
        I like nice portraits, but if we become friends, which I hope we do (check out coffee with jason!),
        you'll find that I also like
        doing things that a different from the rest. So I've decided that I'm going to give my best shot at
        drawing myself, and every once in a while I'll keep updating the drawing until one day you might be
        able to discern what I look like. INCLUDE THE VERSION NUMBER. (v 1.0)

        I'm your regular kid who's tried to make a website for the last -5- years, and every year I think I can
        do it and it always turns out like this: link to something

        I have a passion for computer science, making ideas into working things, and most of all people. I love languages
        and will never stop learning them. Sign language. Dream job be able to connect with helping immigration and
        help other people have what i have been able to have.

        I feel like a lot of those descriptions are like coffee or wine: "I am a web designer with bold streaks of
        dark chocolate and hints of citrus." Like you can't be those things.
    </span>
</div>

<div id="aboutjson">
    <span style="font-size:10vh;">
        <span class="underline">J</span>ava<span class="underline">S</span>cript
        <span class="underline">O</span>bject <span class="underline">N</span>otation
        <span style="font-size:16px;">
        "...is an open-standard format that uses human-readable text to transmit data objects consisting of attribute–value pairs" - Wikipedia

        What?? Sounds like jibber-jabber.

        I remember being confused too, but it really is quite simple. And useful!
        It's just a format for storing information.
        <span/>
        <div style="border-radius: 30px;">
            <div ui-ace="{useWrapMode: true, showGutter: false, theme:'twilight', advanced: {fontSize:'16px'}}"></div>
        </div>
    </span>
</div>

<div id="portfolio">
    <span style="font-size:10vh;">
        Portfolio page content goes here.
        <span style="font-size:16px;">
        </span>
    </span></div>

<div id="contact">
    <span style="font-size:10vh;">
        Contact page content goes here.
        <span style="font-size:16px;">
        </span>
    </span></div>

<div id="bottomExtra">
</div>

<span/>
