#root {
    font-family: 'Lato', sans-serif;
}

#nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #FFFFFF; opacity: 0.5; filter: alpha(opacity=50);
    top: 0px;
    border-radius: 2px;
    border: 1px #797979 solid;
    z-index: 10;
}

a:hover {
    background-color: #FFFFFF; opacity: 0.8; filter: alpha(opacity=80);;
    font-weight: bold;
}

ul{
    list-style-type: none;
    padding: 0;
    width: 100%;
}

li {
    float: right;
    margin: -3px 15px 0px 5px;
}

#aboutme {
    height: 100vh;

    background: #F39C12; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F39C12, #1ABC9C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F39C12, #1ABC9C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F39C12, #1ABC9C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F39C12, #1ABC9C); /* Standard syntax */
}

#aboutme {
    height: 100vh;

    background: #F39C12; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F39C12, #1ABC9C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F39C12, #1ABC9C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F39C12, #1ABC9C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F39C12, #1ABC9C); /* Standard syntax */
}

#aboutjson {
    height: 100vh;

    background: #1ABC9C; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1ABC9C, #AF7AC4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1ABC9C, #AF7AC4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1ABC9C, #AF7AC4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1ABC9C, #AF7AC4); /* Standard syntax */
}

#portfolio {
    height: 100vh;

    background: #AF7AC4; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#AF7AC4, #3498DB); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#AF7AC4, #3498DB); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#AF7AC4, #3498DB); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#AF7AC4, #3498DB); /* Standard syntax */
}

#contact {
    height: 100vh;

    background: #3498DB; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#3498DB, #E74C3C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3498DB, #E74C3C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3498DB, #E74C3C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3498DB, #E74C3C); /* Standard syntax */
}

#bottomExtra {
    height: 100vh;

    background: #E74C3C; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#E74C3C, #F39C12); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#E74C3C, #F39C12); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#E74C3C, #F39C12); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#E74C3C, #F39C12); /* Standard syntax */
}

.ace_editor {
    height: 200px;
    width: 60%;
    border-radius: 4px;
    margin-left: 20px;
}

.ace_content {
    padding: 10px;
}

.underline {
    text-decoration: underline;
    /*text-decoration-color: white;
    -webkit-text-decoration-color: white;
    -moz-text-decoration-color: white; /* Code for Firefox */*/
}
