    <!-- <div id="draggable" class="dragme">"Hello World!"</div> -->

    <!-- the href can lead to a different image eg. an image of my description of the item-->
<div id="hobbies">

    To me, a fountain pen represents a time when writing by hand was valued as more than just an inconvenience.
    Seeing the way some of our oldest documents were written by hand is absolutely crazy, and I think being able
    to hold on to that and not get too swept away with all the amazing things we have today is important to me.
    One more thing about letters is its relative permanence. tap tap tap
    <a href="../../images/fountainPen.png" data-lightbox="hobby" data-title="i love writing letters">
        <img ng-src="../../images/fountainPen.png" alt="Photo" class="pen"></img>
    </a>

    In fact I have a dream of opening a skipping stone alley, like a bowling alley except designed for stone skipping.
    We would custom order these discs that are shaped to perfection. I think the two biggest mistakes people make when
    trying to learn to skip stones is not releasing the stone flat enough, and not giving it enough spin from the index finger,
    resulting in that kerplunk we know all too well.
    This is something I could do all day, it feeds my soul. It's a simple activity that can have infinite variety. Different spins,
    angles, targets. Distance versus finesse. There's so much still to be learned and I only hope one day I'll have the chance.
    <a href="../../images/skippingStone.png" data-lightbox="hobby" data-title="i love skipping stones. i've thought about opening a skipping stone alley. like a bowling alley. perhaps with targets. i've split my index finger open once from trying to get that mad spin rpm">
        <img ng-src="../../images/skippingStone.png" alt="Photo" class="stone"></img>
    </a>

    All you knead is loaf.
    Don't tell me what to dough.
    Once every week, I baked bread. Once I tried a rainbow bread that just turned to a grayish blue color, but it tasted good!
    Kneading dough is fun when you're happy, when you're angry, when you're bored, when you're sad. The dough doesn't ask questions.
    The dough just gives you what you knead. It takes all your feelings and gives you back unconditional loaf.
    You take the simplest ingredients and come up with something completely wonderful.
    I understand why it can be a communal activity and I hope that I'll have more chances to bake in the future.
    Remember the little red hen?
    <a href="../../images/dough.png" data-lightbox="dough" data-title="baking bread in columbae">
        <img ng-src="../../images/dough.png" alt="Photo" class="dough"></img>
    </a>

    Ri--IICK. Surprisingly thought-inducing show that perfectly captures the bizarreness that I love about the world.
    Rick and Morty and Adventure Time are shows that encourage the ideas that would normally be shot down or not ever
    even brought up in conventional TV. I have the greatest admiration and respect for these people who produced the show
    for taking a chance to bring us something so delightfully unpredictable.
    <a href="../../images/rickAndMorty.png" data-lightbox="RaM" data-title="rick and morty!!!">
        <img ng-src="../../images/rickAndMorty.png" alt="Photo" class="RaM"></img>
    </a>

    Even worked at a bike rental shop in anchorage for a summer.
    I love bikes for their self-sufficiency. It's just the right amount of challenge for me.
    Thinking about working with cars is too formidable, but almost everything on a bike is
    inspectable by eye. Especially in our world today where we have absolutely no idea how most of things
    in our lives are made or work, I think it's especially refreshing to be able to work on a complete
    system with your own hands and knowledge, and be able to diagnose and solve problems. Plus, it's fun to
    bomb your way down a canyon road and feel the wind on your face. A wind that you've earned completely
    on your own.
    In fact my dad told me that Jobs once said the computer is to the human mind as the bike is to the body.
    Amazing. A culmination of ingenuity that has completely transformed our abilities to affect the world around us.

    <a href="../../images/trek.png" data-lightbox="hobby" data-title="i love bikes">
        <img ng-src="../../images/trek.png" alt="Photo" class="bike"></img>
    </a>


    <!-- <a href="../../images/avatar2.png" data-lightbox="avatar" data-title="watching animated shows">
        <img ng-src="../../images/avatar2.png" alt="Photo" class="avatar"></img>
    </a> -->
<!--
    <div class="parallax">
        <div class="parallax__layer parallax__layer--back">
            THIS IS THE BACKGROUND
        </div>
        <div class="parallax__layer parallax__layer--base">
            THIS IS THE FOREGROUND
        </div>
    </div> -->
</div>
