    <!-- <div id="draggable" class="dragme">"Hello World!"</div> -->

    <!-- the href can lead to a different image eg. an image of my description of the item-->
<div id="hobbies">
    <a href="../../images/fountainPen.png" data-lightbox="hobby" data-title="i love writing letters">
        <img ng-src="../../images/fountainPen.png" alt="Photo" class="pen"></img>
    </a>

    <a href="../../images/skippingStone.png" data-lightbox="hobby" data-title="i love skipping stones. i've thought about opening a skipping stone alley. like a bowling alley. perhaps with targets. i've split my index finger open once from trying to get that mad spin rpm">
        <img ng-src="../../images/skippingStone.png" alt="Photo" class="stone"></img>
    </a>

    <a href="../../images/dough.png" data-lightbox="dough" data-title="baking bread in columbae">
        <img ng-src="../../images/dough.png" alt="Photo" class="dough"></img>
    </a>

    <a href="../../images/rickAndMorty.png" data-lightbox="RaM" data-title="rick and morty!!!">
        <img ng-src="../../images/rickAndMorty.png" alt="Photo" class="RaM"></img>
    </a>

    <!-- <a href="../../images/avatar2.png" data-lightbox="avatar" data-title="watching animated shows">
        <img ng-src="../../images/avatar2.png" alt="Photo" class="avatar"></img>
    </a> -->
<!-- 
    <div class="parallax">
        <div class="parallax__layer parallax__layer--back">
            THIS IS THE BACKGROUND
        </div>
        <div class="parallax__layer parallax__layer--base">
            THIS IS THE FOREGROUND
        </div>
    </div> -->
</div>
    <!-- <a href="../../images/trek.png" data-lightbox="hobby" data-title="i love bikes">
        <img ng-src="../../images/trek.png" alt="Photo" class="bike"></img>
    </a> -->
