<div style="font-size:100px">Book<img ng-src="../../images/bookM.png" alt="M"/>arks</div>

<div ng-controller="BookmarksController">
    <div ng-repeat="bookmark in bookmarks track by $index">
        <a href="{{bookmark}}">{{bookmark}}</a>
    </div>
    <test-directive></test-directive>
</div>

I thought about grouping these into categories, but my life isn't defined by the categories of all the things I love
and am interested in. These things all tie together and influence each other in ways that I cannot explain. The order
that these come in is just as chaotic as my actual interests.

put the book marks in an array
clicking on a button will generate 100 random numbers, spin through those 99 numbers and show the last one.
Use that number as the index in the array and open that link.
window.open("http://www.w3schools.com");
<br/>
warning another window will open
<div ng-controller="BookmarksController">
    <button type="button" ng-click="selectRandomLink()">select random link!</button>
</div>
